.jumbotron {
  background: url(../image/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  padding: 10rem 4rem;
  color: white;
}

.card {
  background-color: white;
  border-radius: 2%;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 13px 0 rgba(0, 0, 0, 0.19);
}

.card:hover {
  transform: scale(1.1);
  transition: all 300ms ease-in-out 0s;
}
